.version-modal{
	box-shadow: none;
	height: 100%;
	width: 100%;

	.zs-modal-body{
		width: 50%;
		max-height: 90%;
		box-shadow: 0 0 40px rgba(70, 68, 76, 0.5);
		-webkit-box-shadow: 0 0 40px rgba(70, 68, 76, 0.5);
	}

	.zs-modal-header{
		padding: 40px 40px 0 40px;
	}

	.feature-wrapper{
		padding: 10px 40px 40px 40px;
	}

	.feature-header{
		margin-top: 28px;
		margin-bottom: 6px;
		font-weight: 400;
	}

	.admin-feature-header{
		margin-bottom: 30px;
	}

	.bug-divider{
		margin: 40px 0;
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid lightgray;
	}

	a{
		text-decoration: underline;
	}
}
