[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<title>[% IF page_title %][% page_title | html_entity %] - [% END %][% c.get_customer_info.naam_lang %]</title>

<link rel="shortcut icon" href="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/favicon.ico" />

<meta name="viewport" content="width=device-width, initial-scale=1">

[% PROCESS form/common_form_header_includes.tt %]

<link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />

[% PROCESS layouts/common_header_includes_js.tt %]

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

<!-- Piwik -->

    <noscript><p><img src="//www.simanalytics.nl/piwik.php?idsite=62" style="border:0;" alt="" /></p></noscript>

<!-- End Piwik Code -->



</head>
<body data-ng-app="Zaaksysteem">
<div id="top-bar-wrap" class="clr"></div>


		<div id="container">

    		<header role="banner" data-ng-controller="nl.mintlab.pip.SiteImproveController">

                    <div class="inner">

            <div id="logo" ng-init="siteImprove(6006019)">
                	<a href="https://www.epe.nl/"></a>
                </div>

                 </div>

            </header>


			<div id="main" class="clearfix" role="main">