$casetype-children-active-bg: #bdeea5;
$casetype-children-inactive-bg: #f0f0f0;
$casetype-children-item-border-color:#a8a8a8;

.casetype-children-wrapper .blockcontent{
	padding-top:20px;
}

.casetype-children,
.casetype-children-list,
.casetype-children-explanation{
	margin-bottom:15px;
}


.casetype-children-list-item{
	list-style:none;
	border:1px solid $casetype-children-item-border-color;
	margin-bottom:5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.casetype-children-list-item-collapsed.casetype-children-list-item{
	border-bottom:none;
}

.casetype-children-list-item-title{
	background:$casetype-children-active-bg;
	padding:10px 15px;
	border-bottom:1px solid $casetype-children-item-border-color;
	position:relative;
	font-weight:bold;
	&:hover{
		cursor:pointer;
		background:darken($casetype-children-active-bg,4%);
	}
}

.casetype-children-list-item-import{
	position:absolute;
	right:40px;
	top:50%;
	margin-top:-12px;
}

.casetype-children-list-item-remove{
	position:absolute;
	right:9px;
	top:9px;
	button{
		background:none;
		@include opacity(.5);
		&:hover{
			background:rgba(0,0,0,0.1);
			@include opacity(1);
		}
	}
}

.casetype-children-list-item-label-icon{
	margin-right:5px;
	text-align:center;
	display:inline-block;
	width:10px;
	&:before{
		content: "\f0d7";
	}
}

.casetype-children-list-item-collapsed .casetype-children-list-item-label-icon:before{
	content: "\f0da";
}

.casetype-children-list-item-inactive{
	border-color:lighten($casetype-children-item-border-color,14%);
	.casetype-children-list-item-label, .casetype-children-list-item-options-wrapper{
		@include opacity(.5);
	}
	.casetype-children-list-item-title{
		@include box-shadow(inset 0 1px 0 rgba(255,255,255,0.4));
		border-color:lighten($casetype-children-item-border-color,14%);
		background:$casetype-children-inactive-bg;
		&:hover{
			background:darken($casetype-children-inactive-bg,2%);
		}
	}
}

.casetype-children-list-item-options-wrapper{
	padding:10px 15px;
	background:$background-color;
}

.casetype-children-list-item-options{
	columns:100px 2;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-moz-columns:100px 2; /* Firefox */
	max-width:500px;
}

.child-casetype-add .spot-enlighter-wrapper{
	width:400px;
}

.casetype-status-list-item .casetype-children-list-item-title{
	border-bottom:none;
}

// .casetype-status-list .casetype-children-list-item{
// 	@include box-shadow(none);
// }

.casetype-status-list-item{
	position:relative;
}

.casetype-status-list-item-status:before{
	content:'';
	background: url(/images/ajax-loader.gif) no-repeat center center;
    width: 16px;
    height: 16px;
    position: absolute;
    left:15px;
    top:50%;
    margin-top:-8px;
    z-index:1;
}

.casetype-status-list-item-finished .casetype-status-list-item-status:before{
	font-family: 'FontAwesome';
	content: "\f00c";
	background: none;
}

.casetype-status-list .casetype-children-list-item-title{
	background:#fff;
	padding-left:45px;
	&:hover{
		background:#fff;
		cursor:default;
	}
}

.casetype-status-list .casetype-status-list-item-finished .casetype-children-list-item-title{
	background:$casetype-children-active-bg;
	&:hover{
		background:$casetype-children-active-bg;
		cursor:default;
	}
}