[% BLOCK resultaattype %]
    [% value_lower = value | lower %]
    <select name="[% fieldname %]">
        [% FOREACH resultaattype IN ZOPTIONS.RESULTAATTYPEN.sort %]
            <option
                value="[% resultaattype %]"
            [% resultaattype == value_lower
                ? 'selected="selected"'
                : ''
            %]
            > [% resultaattype | ucfirst %]</option>
        [% END %]
    </select>
[% END %]


[% BLOCK archiefnominatie %]
    [% value_lower = value | lower %]
    [% archief_options = ZOPTIONS.ARCHIEFNOMINATIE_OPTIONS %]
    <select name="[% fieldname %]">
        [% FOREACH option IN archief_options.keys.sort %]
            <option
                value="[% archief_options.$option %]"
            [% option == value_lower
                ? 'selected="selected"'
                : ''
            %]
            > [% archief_options.$option %]</option>
        [% END %]
    </select>
[% END %]


[% BLOCK bewaartermijn %]
    <select name="[% fieldname %]">
        [% FOREACH bewaartermijn IN ZOPTIONS.BEWAARTERMIJN.keys.nsort %]
            <option
                value="[% bewaartermijn %]"
            [% bewaartermijn == value
                ? 'selected="selected"'
                : ''
            %]
            > [% ZOPTIONS.BEWAARTERMIJN.$bewaartermijn | ucfirst %]</option>
        [% END %]
    </select>
[% END %]


[% BLOCK handelinginitiator %]
    [% value_lower = value | lower %]
    <select name="[% fieldname %]">
        [% FOREACH hinit IN ZOPTIONS.HANDELINGSINITIATORS.sort %]
            <option
                value="[% hinit %]"
                [% (
                    value_lower
                        == hinit
                            ? 'selected="selected"'
                            : ''
            ) %]>[% c.loc(hinit) %]</option>
        [% END %]
    </select>
[% END %]



<tr>
    <td>[% field_settings.label %]</td>
    <td>
        [% fieldname = field_settings.field %]
        [% IF prefix %]
            [% fieldname = prefix _ '.' _ fieldname %]
        [% END %]

        [% IF field_settings.type == 'checkbox' %]
            <input type="checkbox" name="[% fieldname %]"[% IF value %] checked="checked"[% END %]"/>
        [% ELSIF field_settings.type == 'servicenorm_type' %]
            kalenderdagen
            <input type="hidden" name="[% fieldname %]" value="kalenderdagen" />
        [% ELSIF field_settings.type == 'resultaattype' %]
            [% PROCESS resultaattype %]
        [% ELSIF field_settings.type == 'archiefnominatie' %]
            [% PROCESS archiefnominatie %]
        [% ELSIF field_settings.type == 'bewaartermijn' %]
            [% PROCESS bewaartermijn %]
        [% ELSIF field_settings.type == 'handelinginitiator' %]
            [% PROCESS handelinginitiator %]
        [% ELSE %]
            <input type="text" name="[% fieldname %]" value="[% value %]" />
        [% END %]
    </td>
    <td>[% PROCESS widgets/general/validator.tt %]</td>
</tr>

