/*
NOTE BAR 
*/
proposal-note-bar{
	position: fixed;
	width: 100%;
	top: 66px;
	display: block;
	overflow: hidden;
	z-index: 2;

	.proposal-detail-view__notecontent{
		display: flex;
		height: 50px;
		padding: 10px 20px;
		background: rgb(255,255,226);
		border-bottom: solid 1px rgb(226, 228, 216);
		transition: all 0.15s ease-in-out;
		z-index: 5;
		overflow: hidden;

		&:hover{
			background:#FFFFC7;
			cursor: pointer;
		}

		&.active{
			height: 100%;
		}

		&.removing{
			.proposal-detail-view__noteplaceholder, zs-icon{
				color: #ccc;
			}
		}

	}

	zs-icon{
		color: rgb(96,96,86);
		width: 36px;
		font-size: 20px;
	}

	.proposal-detail-view__noteplaceholdercontainer{
		display: flex;
		width: 95%;
		height: 100%;

	}

	.proposal-detail-view__noteplaceholder{
		padding-top: 3px;
		font-size: 16px;
		color: #999;
		white-space: nowrap;
	    overflow: hidden;
    	text-overflow: ellipsis;
	}
}


/* 
NOTE MODAL 
*/
$transition-duration: 0.35s;
$transition-scale: 1;

.note-modal {
	z-index: 15;

	&.ng-enter {
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}

	&.ng-enter-active {
		animation: note-modal-in #{$transition-duration};
	}

	&.ng-leave-active {
		animation: note-modal-out #{$transition-duration};
	}

	.zs-modal-header {
		display: none;
	}

	.zs-modal-body{
		background: rgb(255,255,226);

		.proposal-note-view__header {
			position: fixed;
			top: 0;
			z-index: 2;
			width: 100%;
			background: rgb(255,255,226);
			padding: 10px 15px;
			height:54px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		}

		.proposal-note-view__header-container{
			display: flex;
		}

		.proposal-note-view__header-button {
			background: none;
			border: 0;
			color: #666;
			font-size: 1.6em;
			width:36px;
			height:36px;
			line-height: 36px;
			border-radius:100%;
			display: flex;
			padding: 0 5px;

			&:hover {
				background:rgba(0,0,0,0.1);
			}

			&:disabled {
				background:rgba(0,0,0,0.1);
				opacity: 0.3;
			}
		}

		.proposal-note-view__header-rightbuttoncontainer{
			display: flex;
			margin-left: auto;

			.proposal-note-view__header-button{
				margin-left: 10px;
			}
		}

		.proposal-note-view__header-button--save{
			@extend .proposal-note-view__header-button;
			font-size: 0.933rem;
			width: auto;
			text-transform: uppercase;
			margin-left: auto;
			border-radius: 5px;
			font-weight: 500;
			padding:0 10px;
		}

		.proposal-note-view__header-title {
			font-size: 18px;
			color: #666;
			align-self:center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-left: 10px;
			margin-top: -4px;
		}

		.proposal-note-view__body{
			position: absolute;
			background: rgb(255,255,226);
			top: 0;
			padding: 70px 15px 15px 15px;
			height: 100%;
			width: 100%;
			display: flex;
	    	flex-direction: column;
		}

		.proposal-note-view__message{
			font-size: 16px;
			color: #999;
			margin-bottom: 10px;
		}

		textarea{
			background: rgb(255,255,226);
			border: none;
			display: flex;
			font-size: 16px;
			resize: none; 
			padding: 0;
			height: 100%;
			max-width:60rem;

			&:focus{
				outline: none;
			}
		}

		zs-spinner{
		    display: flex;
			align-items: center;
			
			.spinner-google{
				border-right-color: #666;
			    border-bottom-color: #666;
			    border-left-color: #666;
			}
		}

	}
}


.note-modal + meeting-app {
	opacity: 0.5;
}

.note-modal.ng-enter-active + meeting-app {
	animation: view-out #{$transition-duration};
}

.note-modal.ng-leave-active + meeting-app {
	animation: view-in #{$transition-duration};
}

@keyframes note-modal-in {
	0%, 50% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes note-modal-out {
	0% { transform: translateX(0); }
	50%, 100% { transform: translateX(100%); }
}

@keyframes view-in {
	0%, 50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}

}

@keyframes view-out {
	0% {
		opacity: 1;
	}
	50%, 100% {
		opacity: 0.5;
	}
}
