[% type_fieldname = fieldname _ '_type' %]

<div>
    <div>Objectactie:</div>
    <div>
        [% IF object_actions.size %]
        <select name="regels_[% type_fieldname %]">
            <option value="">-- Selecteer --</option>
            [% FOREACH action IN object_actions %]
            <option value="[% action.id %]"
                    [% IF params.$type_fieldname == action.id %]
                    selected="selected"
                    [% END %]>[% action.object_title | html_entity %]
            </option>
            [% END %]
        </select>
        [% ELSE %]
        Geen configureerbare objectacties gevonden in deze fase.
        [% END %]
    </div>
</div>

