<div ng-class="{'small': $ctrl.isCollapsed() } ">

	<a
		class="profile-avatar-container-wrapper"
		ui-sref="contact.summary"
	>

		<div class="profile-avatar-container">
			<div class="profile-avatar">
				<span class="initials">{{$ctrl.initial}}</span>
			</div>
		</div>

		<h1 ng-show="!$ctrl.isCollapsed()">{{$ctrl.fullName}}</h1>

	</a>

	<ul>
		<li ng-repeat="item in $ctrl.getContactDetails() track by item.name">
			<span
				zs-tooltip="{{item.label}}"
				zs-tooltip-options="{ attachment: 'left middle', target: 'right middle', offset: { x: 10, y: 0 } }"
			>
				<zs-icon
					icon-type="{{::item.name}}"
					ng-class="item.name"
				>
				</zs-icon>
				<span
					ng-bind-html="::item.value"
					class="contact-navigation-link-label"
				></span>
			</span>
		</li>
	</ul>

</div>