.doc-dropdown-menu {
	position: absolute;
	left: 0;
	background: white;
	color: black;
	z-index: 100 !important;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	padding: 6px 0;
	min-width: 230px;
	ul {
		list-style: none;
		margin:0;
		li {
			padding: 0;
			margin: 0;
		}
	}
	.doc-dropdown-menu-item{
		border: none;
		padding: 6px 0 6px 14px;
		background: transparent;
		line-height: 1.4;
		width: 100%;
		text-align: left;
		color:#333;
		display: inline-block;
		box-sizing:border-box;
		font-size:14px;
	}
	span.doc-dropdown-menu-item{
		background: url(/images/icons-docs.png) no-repeat 204px -99px;
	}
	.doc-dropdown-menu-item:hover,
	.element-menu-open > .doc-dropdown-menu-item {
		color: #fff;
		background: rgb(92,106,112);
		cursor: pointer;
	}
	 > ul > hr {
		border: 0;
		height: 1px;
		margin-top: 6px;
		margin-bottom: 6px;
		background-color: #ebebeb;
	}
}

.case-type-doc{
	button{
		padding-left:8px;
		i{
			visibility: hidden;
			margin-right:5px;
		}
	}
	&.case-type-doc-active button{
		background: #f0f0f0;
		i{
			visibility: visible;
		}
	}
}


[data-zs-dropdown-menu-decorate] > ul {
	display: none;
	&.menu-open {
		display: block;
	}
}

[data-zs-hover-menu] {
	position: relative;
	 > ul {
		display: none;
		list-style: none;
		position: absolute;
		width: 100%;
		&.menu-open {
			display: block;
		}
	}
}

.doc-context-menu{
	[data-zs-hover-menu] ul {
		box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.25);
		background: white;
		padding: 4px 0;
		border: 1px solid #ccc;
	}
	[data-zs-file-api-supported="false"] {
		display: none;
	}
}

.context-menu-overlay{
	z-index: 99;
}

[data-ng-upload] {
	position: relative;
	overflow: hidden;
	 > form {
		opacity: 0;
		filter: alpha(opacity = 0);
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		 > input[type="file"] {
			height: 100%;
			width: 100%;
		}
	}
}

.action-bar-button[data-ng-upload] > form {
	top: 8px;
}