@import '../../../../../shared/styles/variables';

zs-contact-summary-view{
	display: flex;
	align-items: flex-start;
	width: 100%;
	
	flex-wrap: wrap;
    flex-direction: row;

	@media #{$large-and-up}{
		flex-direction: column;
		height:100%;
	}

	.column{
		flex-shrink:0;
		width:100%;
		padding-bottom:1.25rem;
		
		@media #{$large-and-up}{
			width:50%;
			height:100%;
			padding-bottom:0;
			&:first-child{
				padding-right:1.25rem;
			}
		}
	}

	.contact-widget{	
		&.contact-widget-timeline{
			height:100%;
			.contact-widget-inner{
				height:100%;
			}
			.contact-widget-content{
				padding:.75rem 1.5rem 0;
				@media #{$medium-and-up}{
					padding:.75rem 2rem 0 2rem;
				}
			}
			.timeline-header{
				display: none;
			}
		}
		&.contact-widget-cases,
		&.contact-widget-information{
			height:50%;
			.contact-widget-inner{
				height:100%;
			}
		}
		&.contact-widget-cases{
			padding-bottom: 1.25rem;
			.contact-widget-content{
				padding: 0;
				margin-bottom: 10px;
				.search-table-wrapper{
					width:100%;
				}
			}
			zs-case-widget{
				width:100%;
			}
		}
	}

	.contact-widget-inner{
		background: #fff;
		box-shadow: #{$shadow};
		width: 100%;
		flex:1;
		overflow-y:auto;
		border-radius:$border-radius;
		
	}

	.contact-widget-content{
		padding: 0 1rem 1rem 1rem;
		display: flex;
	    
		@media #{$medium-and-up}{
			padding: 0 1.5rem;
			min-height: calc(100% - 125px);
		}
		@media #{$large-only}{
			min-height: calc(100% - 131px);
		}
		zs-timeline,
		zs-case-widget{
			width:100%;
			&.empty{
				align-items: center;
				display: flex;
				min-height: 100%;
			}
		}
		zs-timeline{
			&.empty{
				@media #{$large-and-up}{
					padding-bottom:3rem;
				}
			}
			.timeline-no-events{
			    width: 100%;
			    padding:2rem;
			    margin:0;
			}
		}
		zs-case-widget.empty{
			.compact-items-container{
				display: none;
			}
		}
	}

	.contact-widget-more-button{
		margin:1rem;
		display: flex;
		border-radius:15px;
		height: 2rem;
		line-height: 2rem;
		@media #{$medium-and-up}{
			margin: 1rem 1.5rem 1rem;
		}
	}

	h2{
		margin: 0;
		padding: 1rem;
		font-weight: 400;
		font-size: 1.4em;
		@media #{$medium-and-up}{
			padding: 1.25rem 1.5rem;
		}

		@media #{$large-only}{
			padding: 1.7rem 1.5rem 1.5rem;
		}
	}


}

.contact-inner-view zs-contact-summary-view{
	padding:1.25rem 1.25rem 6rem 4px;
	@media #{$large-and-up}{
		padding:1.25rem 7rem 1.25rem 4px;
	}
}