<form method="POST" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/update/opschorten') %]">
<input type="hidden" name="update" value="1">
    <div class="dialog-inner">
        [% IF is_opgeschort %]
        <label>Reden hervatten<label/>
        <input type="text" class="input_large" name="reden" />
        [% ELSE %]
        <label>Reden opschorting</label>
        <input type="text" class="input_large" name="reden" />
        [% END %]
    </div>

    <div class="form-actions">
        <input type="submit" value="[% (is_opgeschort ? 'Hervatten' : 'Opschorten') %]" class="button button-primary" id="dialog-submit"/>
    </div>

</form>
