.configuration {
    padding-bottom: 20px;
    legend {
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 5px;
        border-bottom: 3px solid #999;
    }
    input[type="text"] {
        width: 300px;
    }
    select {
        width: 300px;
    }
    label {
        display: inline-block;
    }
    .block-header-title{
        margin-bottom:10px;
        
    }
}

.configuration-titel{
    border-bottom:1px solid #ddd;
    padding:0 0 1em;
    a{
        color:#888;
        &:hover{
            color:#000;
        }
    }
    h3 {
         margin:0 3px;
         display: inline-block;
    }
}

.jobs h3{
    border-bottom:2px solid #ddd;
    padding:.6em 0;
}

.jobs-done{
    margin-bottom:20px;
}
