$widget-search-filter-bg:#f6f6f6;

.widget-search-wrap .block-header{
	display: none;
}

.widget-search,
.widget-search * {
	@include box-sizing(border-box);
}

.widget-search{
	.widget-body {
		display: flex;
		width: 100%;
	}
	.crud-table{
	    min-width:960px;
	}
	.crud-table-item-cell {
		white-space: normal;
	}
	.table-cell a{
		text-decoration: underline;
	}
	input:not([type]),
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=url],
	input[type=date],
	input[type=number],
	textarea {
		padding:5px;
		background-color:#fff;
	}
	.spot-enlighter-wrapper > input[type=text]{
		padding-left:30px;
		background-color:#fff;
	}
	.pagination{
		flex-direction:row-reverse;
	}
}

.widget-search-filter-component {
	width: 35px;
	-webkit-transition: width .25s ease;
	transition: width .25s ease;
	box-shadow:inset -1px 0 3px rgba(0, 0, 0, 0.2);
	min-height: calc(100vh - 56px);
	background: $widget-search-filter-bg;
	height:calc(100vh - 56px);
	overflow: auto;
	.widget-search-filter-form{
		display: none;
	}
	.widget-search-filter-body{
		opacity:0;
		transition: opacity .25s .25s ease;
	}
}

.widget-search-filter-locked .widget-search-filter-component {
	width: 300px;
	flex-shrink:0;
	.widget-search-filter-form{
		display: block;
	}
	.widget-search-filter-body{
		opacity: 1;
	}
}

.widget-search-filter-collapse-button.btn-floating {
	position: fixed;
	z-index:1;
	left:16px;
    bottom: 7.5em;
    transition: position .25s ease;
    &:focus{
    	outline-width: 0;
    }
}

.widget-search-filter-locked{
	.widget-search-filter-collapse-button.btn-floating{
		left:284px;
	}
}

.widget-search-filter-component-title {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	vertical-align:middle;
}

.widget-search-filter-unlocked{
	.widget-search-filter-component{
		overflow:hidden;
	}
	.widget-search-filter-component-title {
		visibility: hidden;
	}
	.widget-search-filter-body {
		visibility: hidden;
	}
	.spot-enlighter-tag-wrapper{
		visibility: hidden !important;
	}
}

.widget-search-filter-save{
	border-bottom:1px solid #e0e0e0;
}

.widget-search-filter-save-header{
	padding:1.4em 1.05em 0 1em;
	font-size:1.15em;
	font-weight:500;
	display: flex;
	align-items: center;
	button{
		margin-left:auto;
		.mdi{
			font-size:1.66rem;
			margin:0;
		}
	}
}

.widget-search-filter-component .form-fieldset-header.widget-search-filter-save-header{
	padding-top:1em;
	&:hover{
		background: #fff;
		cursor:default;
	}
	.widget-search-filter-collapse{
		display: none;
	}
}

.widget-search-filter-spinner {
    display: flex;
    justify-content: center;
}

.widget-search-filter-save-list{
	list-style:none;
	margin-bottom:.5em;
}

.widget-search-filter-save-list-item {
	position: relative;
	margin: 0 -.75rem 0 -1.15rem;
    padding: 3px 1.15rem;
    &:hover{
    	background:#e5e5e5;
    	.widget-search-save-list-item-label{
    		color:#000;
    	}
    }
}

.widget-search-save-list-item-label {
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 240px;
	display: inline-block;
	line-height: 1.8;
	background: none;
	font-size:1em;
	text-align: left;
	color:#666;
	i{
		width:16px;
		display: inline-block;
	}
	span{
		vertical-align: middle;
	}
	&:focus{
		outline:none;
	}
}

.widget-search-filter-save-list-item-active{
	background: #e0e0e0;
	&:hover{
		background: #e0e0e0;
	}
	.widget-search-save-list-item-label{
		font-weight: 500;
		color:#000 !important;
	}
}

.widget-search-filter-save-list-item-loading .icon-font-awesome {
	opacity: 0.5;
}

.filter-menu {
	position: absolute;
	right: 8px;
	top: 5px;
	.filter-menu-open{
		width:20px;
		height:20px;
		line-height: 20px;
		border-radius:100%;
		padding:0;
		&.btn-flat{
			color:#999;
			&:hover{color:#000;}
		}
		i{
			font-size:1.2rem;
		}
	}
}

.filter-menu.popup-menu {
	position: fixed;
	margin-left: -150px;
}

.filter-menu-open.button {
	line-height: 1;
	width:20px;
	&.dropdown-toggle:after{
		margin-left:0;
	}
}

.filter-settings{
	padding:10px .75rem 5px 1.15rem;
	margin:0 -.75rem 0 -1.15rem;
	position: relative;
}

.filter-settings-label{
	color:#888;
	font-size:.85rem;
	font-weight: 500;
	margin-bottom:5px;
}

.filter-settings-internal{
	padding:0 0 8px;
}

.filter-settings-public{
	padding:0 0 12px;
	font-size:.85rem;
}

.filter-settings-close{
	width:100%;
}

.filter-share-permission-add,
.filter-share-position{
	list-style: none;
	padding:10px;
	margin:0 0 8px;
	border-radius:3px;
	background:#fff;
	position: relative;
	box-shadow:0 1px 3px rgba(0,0,0,0.25);
	font-size: .933rem;
	.position-picker-select{
		max-width:150px;
	}
}

.filter-share-position-type{
	margin-bottom:5px;
}

.filter-share-position-type-label{
	font-weight: bold;
	width:65px;
	display: inline-block;
}

.filter-share-permission-add-button{
}

.filter-share-position-right-list{
	display: inline-block;
}

.filter-share-position-capability{
	margin-right:5px;
}

.filter-share-position-remove,.filter-share-permission-add-control-cancel{
	position: absolute;
	top:5px;
	right:5px;
}

.filter-share-permission-add-control-label{
	margin:-10px -10px 6px -10px;
	padding:6px 10px;
	font-weight: 500;
}

.filter-share-permission-add-control-confirm{
	width:100%;
	margin-top:10px;
}

.widget-search-filter-save-list-item-edit{
	.widget-search-save-list-item-label{
		width:auto;
		span{
			display: none;
		}
		input[type="radio"]{
			@include opacity(.5);
		}
		&:hover{
			cursor:default;
		}
	} 
	.widget-search-save-list-item-form-name{
		width:235px;
		display: inline-block;
		line-height: 1;
		vertical-align: top;
		input{
			max-width:250px;
			display: inline-block;
			padding:2px;
			margin-left:-3px;
		}
	}
}

.widget-search-result {
	height: calc(100vh - 56px);
	overflow: auto;
	width: 100%;
	&.widget-search-result-all{
		.widget-search-result-header{
			border-bottom:none;
		}
		.widget-search-result-list{
			list-style:none;
		}
		.accordion-panel{
			padding:0;
			border-bottom:none;
		}
	}
}

.widget-search{
	.form-field-label-empty {
		display: none;
	}
	.form-fieldset-collapse {
		color:#bbb;
		&:focus{
			outline:0;
		}
	}
	.form-fieldset-header {
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-weight: 500;
	}
	.form-fieldset-changed{
		.form-fieldset-header .form-fieldset-title{
			font-weight: 500;
			color:#000;
		}
	}
	.crud-table-wrapper{
		min-height:360px;
	}
}

.widget-search-settings-form-name{
	form[name=searchNameForm]{
		width:658px;
		.form-fieldset{
			padding-top:0;
			.form-field{
				padding-top:5px;
				input{
					width:447px;
				}
			}
		}
	}
}

.widget-search-settings-column > div{
	border:1px solid #ccc;
	ul li, ul li button{
		background:none;
		font-size:13px;
	}
	ul li{
		border-bottom:1px solid #eee;
	}
}

.widget-search-settings-column-title{
	display: block;
	padding:0px 0 10px;
}

.widget-search-settings-column-header{
	background:#eee;
	min-height:30px;
	padding:7px;
	border-bottom:1px solid #ccc;
	input{
		background:url("/images/icon-filter.png") no-repeat scroll 7px center #fff;
		width:100%;
		box-sizing:border-box;
		padding-left:25px;
	}
	span{
		line-height: 2.5;
		font-weight: bold;
		text-align: center;
		display: block;
	}
}

.widget-search-settings-column-available {
	display: inline-block;
	width: 300px;
	margin-right: 50px;
	vertical-align: top;
	position:relative;
	button{
		width:100%;
		padding:6px 10px;
		text-align: left;
		&:hover{
			background:#f6f6f6;
		}
	}
	&:after{
		content: "\F054";
		font-family: FontAwesome;
		font-size:30px;
		color: #ccc;
		position: absolute;
		right: -37px;
		top: 50%;
		margin-top: -15px;
	}
}

.widget-search-settings-column-selected {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	ul li{
		padding:4px 10px;
		position:relative;
		button{
			position:absolute;
			right:10px;
			top:50%;
			margin-top:-5px;
			i{
				font-size:12px;
				color:#999;
				&:hover{
					color:#000;
				}
			}
		}
	}
}

.widget-search-settings-column-list {
	height: 300px;
	overflow-y: auto;
}

.widget-search-filter-component .form-fieldset-collapsed .form-fieldset-header,
.widget-search-filter-form-objecttype-collapsed .form-fieldset-header{
	border-bottom:1px solid #e0e0e0;
	color: #888;
}


.widget-search-filter-component{
	.form-fieldset{
		.form-fieldset{
			border:none;
		}
	}
	.form-fieldset-header{
		margin:0;
		padding:.6em;
		color:#000;
		display: flex;
		align-items: center;
		&:hover{
			color:#000;
		}
	}
	
	.form-fieldset-meta{
		border-bottom:none;
		padding:0;
	}
	.form-field{
		padding:0;
		margin:0 0 5px;
		border-bottom:none;
		input[type=text],.spot-enlighter-wrapper{
			width:100%;
		}

	}
	.form-fieldset-children{
		padding:0 1.4em 1em;
		border-bottom:1px solid #e0e0e0;
		.form-fieldset-children{
			padding:0;
			border:none;
			background: transparent;
		}
	}
	.widget-search-filter-save-body{
		padding:1.25em .75em 1em 1.25em;
		.btn-show-more{
			padding-top:0;
			padding-bottom:0;
		}
		.btn-primary{
			width:100%;
		}
	}
	.form-fieldset-title{
		font-size:.933rem;
		font-weight: 400;
	}
	.form-field-input{
		width:100%;
	}
	.form-status {
		display: none;
	}
	.form-field-button-list {
		display: none;
	}
	.form-field-spot-enlighter-list-item,
	.form-field-type-org-unit-list-item{
		padding:0;
		font-size:.933rem;
		white-space: normal;
		overflow: visible;
		text-overflow: initial;
		box-shadow:0 1px 3px rgba(0,0,0,0.3);
		border-radius:3px;
		background: #fff;
		margin-bottom:6px;
		.form-field-spot-enlighter-list-item-label,
		.form-field-type-org-unit-list-item-picker{
			padding:6px 25px 6px 10px;
			display: block;
		}
	}
	.btn-secondary{
		background:#fff;
		&:hover,
		&:focus{
			background:#f4f4f4;
			color:#000;
			i.mdi{
				color:#000;
			}
		}
	}
	.btn-show-more{
		background:#e0e0e0;
		&:hover{
			background:#d8d8d8;
		}
	}
}

.widget-search-result {
	padding:0px 30px;
	position: relative;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0px;
}

.widget-search-result-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 56px);
	width: 100%;
}

.widget-search-result-display{
	padding-bottom:6rem;
}

.widget-search-result-header{
	padding:25px 0 23px;
	border-bottom:1px solid #ccc;
	width: 100%;
	position:relative;
	display: flex;
	flex-direction:column;
	@media #{$large-and-up}{
		flex-direction:row;	
		padding:23px 0;
	}
	.btn-flat{
		color:#666;
		&:hover{
			color:#000;
		}
	}
	.btn-group{
		margin-right:10px;
		.btn-flat{
			color:#999;
			&:hover{
				color:#000;
			}
			&.btn-active{
				color:#fff;
				background:#666;
			}
			.mdi{
				width:2rem;
			}
		}
	}
	.btn-round.btn-small{
		height:2rem;
		line-height: 2rem;
		width:2rem;
	}
}

.widget-search-result-header-left{
	display: flex;
	align-items: center;
	background: #fff;
	position: relative;
	z-index: 1;
	white-space: nowrap;
	min-width: 0px;
	flex-grow:1;
	margin-right:10px;
}

.widget-search-result-header-label{
	text-overflow:ellipsis;
	overflow: hidden;
}

.widget-search-result-header-label,
.widget-search-result-header-label-counter{
	font-size:18px;
	font-weight: 500;
	padding-right: 5px;
	line-height: 1.2;
	@media #{$large-and-up}{
		font-size:22px;
	}
}

[data-zs-modal-title="Uitgebreide statistieken"]{
	.modal-body{
		max-width:330px;
	}
}

.widget-search-result-header-edited .widget-search-result-header-label-title{
}

.widget-search-result-header-operations{
	display: flex;
	align-items: center;
	list-style: none;
	opacity:0;
	height:25px;
	@include transition(opacity 1s);
	li{display:inline;}
	&.widget-search-result-header-operations-show{
		opacity:1;
	}
}

.widget-search-result-header-has-changed{
	color:#999;
	font-weight: normal;
	position:relative;
	margin-left:12px;
	margin-right:7px;
	&:before{
		border-top: 1px solid #bbb;
		content: "";
		position: absolute;
		left: -12px;
		top: 11px;
		width: 8px;
	}
}

.widget-search-result-header-save-options,
.widget-search-result-header-display{
	button i{
		font-size:1.45em;
	}
}

.widget-search-result-header-save-options .button{
	padding-right:5px;
	padding-left:5px;
}

.widget-search-result-header-save-options-button-save-as-text{
	display: none;
}

.widget-search-result-header-display {
	margin-top:15px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	@media #{$large-and-up}{
		margin-left:auto;
		margin-top:0;
	}

}

.widget-search-result-header-select{
	margin-right:auto;
	font-size:.933rem;
	@media #{$large-and-up}{
		margin-right:20px;
	}
}

.widget-search-result-header-display-show-location{
	vertical-align: middle;
	margin-right:10px;
}

.widget-search-result-list{
	.widget-search-result-list-item{
		.widget-search-result-list-item-header{
			width:100%;
			@include box-sizing(border-box);
			text-align: left;
			display: block;
		}
	}
}

.widget-search-result-header-column-management{
	&.zs-popup-menu-open .btn,
	&.zs-popup-menu-open .btn:hover{
		background:#666;
		color:#fff;
	}
	.btn{
		height: 2rem;
		line-height: 2rem;
		border-radius: 10px;
		padding: 0 .5rem;
	}
}

.widget-search-result-header-column-management-button-text{
	display: none;
}

@media only screen and (min-width: 1280px) {
	.widget-search-result-header-column-management-button-text{
		display: inline;
	}
}

.widget-search-result-list-item-empty.no-results{
	text-align:left;
}

.widget-search-result-loader {
	background:rgba(255,255,255,.65);
	position:absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	display:none;
	@include transition(opacity 0.25s ease-out);
	.widget-search-result-loader-spinner-wrapper{
		position:absolute;
		top: 160px;
		left: 50%;
		margin-left:-16px;
		.widget-search-result-loader-spinner{
			background:url("/images/spinner-global.gif") no-repeat 0 0;
			width:32px;
			height:32px;
			position:fixed;
		}
	}
}

.widget-search-loading .widget-search-result-loader {
	opacity: 1;
	bottom:0;
	right:0;
	display:block;
}

.widget-search-settings .form-status {
	display: none;
}

.crud-table-column-header-case_number {
	text-align: right;
	padding-right: 20px;
}

.form-fieldset-name-kenmerken{
	.form-field-spot-enlighter-list-item{
		&:before{
		    content: "";
		    display: none;
		}
		.form-field-spot-enlighter-list-item-label{
			position:relative;
			padding-left:30px;
			padding-right:22px;
			padding-top:6px;
			padding-bottom:6px;
			font-weight: 500;
			&:before{
			    font-family: FontAwesome;
			    content: "\f0da";
			    font-size: 1em;
			    width: 10px;
			    display: inline-block;
			    text-align: center;
			    position:absolute;
			    left:12px;
			}
		}
		.form-fieldset-children{
			margin:0;
			padding:.25em 1em 1em;
		}
	}
	.form-field-spot-enlighter-list-item-expanded{
		.form-field-spot-enlighter-list-item-label{
			&:before{
			    content: "\f0d7";
			}
		}
	}
	.form-field-spot-enlighter-list{
		margin:5px 0;
	}
	.form-field-spot-enlighter-list-item-options{
		height:auto;
	}
	.checkbox-list-item {
		color: #999;
	}
	.checkbox-list-item-always-visible {
		color: inherit;
    }
    .button-dynamic-date {
        display: block;
        margin: 2px 2px 2px 0;
    }
    .button-date-selected {
        background-color: #dddddd;
    }
}

.widget-search-result-map{
	.map-header{
		display: none;
  }
  
  .widget-search-result-loader {
    height: 450px;
    display: block;
    position: relative;
    opacity: 1;

    .widget-search-result-loader-spinner-wrapper {
      top: 200px;
    }

    .widget-search-result-loader .widget-search-result-loader-spinner-wrapper .widget-search-result-loader-spinner {
      position: relative;
    }
  }
}

.widget-search-result-map-visible{
	.widget-search-result-map{
		.map-wrap{
			margin-bottom:20px;
		}
	}
	.crud-pagination-top{
		display: block;
		padding-top:0;
	}
}

.widget-search-result-chart {
	.highcharts-container{
		padding:10px 0;
	}
	.no-results{
		text-align: center;
		background: #f6f6f6;
	}
	> select{
		margin-bottom:1rem;
	}
}

.widget-search .crud-table-column-header-remove {
    position:absolute;
    right:0px;
    top:0px;
    height:$crud-table-header-height;
    width:20px;
    display: none;
}

.case-status-template{
	position: relative;
	width:25px;
	zs-notification-counter span{
		position: absolute;
		top:-8px;
		right:-7px;
		width:14px;
		height:14px;
		line-height: 14px;
		font-size:.8rem;
		border:2px solid #fff;
		box-sizing:content-box;
	}
}
